*{
    font-family: Didot, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;

}
header{height: 550px;
    background-color: #161616;
    clip-path:polygon(0 0,100% 0,100% 100%,68% 90%,0 100%);
}
#con{
    max-width: 900px;
    padding: 4px 15px;
    margin:0 auto;
    
}
header nav .left a{
    color:#ffffff;
    text-decoration:none;
    margin-right: 3rem;
    transition: all 0.3s ease;
    overflow: auto;
    
}
header nav .left a:hover{
    color:#c4b4b4;
}
.left{
    align-items: center;
    display: flex;
}
.right{
    color: #ffffff;
}
nav{
    justify-content: space-between;
   align-items: center;
   display: flex;
    padding: 35px;
    
}
.logo{
    margin-right: 50px;
}
.btn button{
    padding: 9px 30px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s ease;
    color: #161616;
}
#btn1{margin-left: 200px;
margin-top:10% ;}
#bottom{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    
}
.txt p{
    line-height: 1rem;
}
.txt h1{
    line-height: 2rem;
}
.pic img{
    margin-left: 10%;
    margin-top: 70px;
}
#rd{
    background-color: black;
}
.social{width: 257px;
    margin: auto;
    align-items: center;
    
}